
{% include overlay.html %}

<footer>
    <ul>
        {% for item in site.data.social %}
        <li><a href="{{ item.url }}" target="_blank" title="{{ item.message }}">{{ item.message }}<i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a></li>
        {% endfor %}
    </ul>

    <!--<p><i class="fa fa-hashtag" aria-hidden="true"></i>melissaheartsbrett</p>-->

    <p><i class="fa fa-copyright" aria-hidden="true"></i> 2017 <i class="fa fa-hand-o-right" aria-hidden="true"></i> Made with <span class="you-make-my-heart-skip-a-beat"><i class="fa fa-heart" aria-hidden="true"></i></span> by Melissa and Brett</p>
</footer>