

<footer>
    <ul>
        {% for item in site.data.social %}
        <li><a href="{{ item.url }}" target="_blank" title="{{ item.message }}">{{ item.message }}!<i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a></li>
        {% endfor %}
        <!--<li><a href="#" id="share">Share this!<i class="fa fa-share-alt" aria-hidden="true"></i></a></li>-->
    </ul>

    <p><i class="fa fa-copyright" aria-hidden="true"></i> 2017 <i class="fa fa-hand-o-right" aria-hidden="true"></i> Made with <i class="fa fa-heart" aria-hidden="true"></i> by Melissa and Brett</p>
</footer>