
<header>

    <div class="menu-btn">
        <a href="#"><span>Menu</span></a>
    </div>

    <nav>
        <ul>
            <li><a href="/"{% if page.active == 'main' %} class="active"{% endif %}>Our Story</a></li>
            <li><a href="/when-where/"{% if page.active == 'when-where' %} class="active"{% endif %}>When &amp; Where</a></li>
            <li><a href="/wedding-party/"{% if page.active == 'wedding-party' %} class="active"{% endif %}>Wedding Party</a></li>
            <li><a href="/registry/"{% if page.active == 'registry' %} class="active"{% endif %}>Registry</a></li>
            <li><a href="/rsvp/"{% if page.active == 'rsvp' %} class="active"{% endif %}>RSVP</a></li>
        </ul>
    </nav>
</header>


