

footer {
  padding: 40px;
  text-align: center;

  p {
    color: $dark-gray-color;
    font-size: .75em;
    text-transform: uppercase;

    span {
      vertical-align: middle;
      @include custom-transition(font-size $animation-timing ease);
    }
  }

  ul {
    text-align: center;

    li {
      display: inline-block;
      padding: 0 10px;
    }

    a {
      display: block;
      overflow: hidden;

      @include replace-text();

      i.fa {
        color: $dark-gray-color;
        font-size: 1.5rem;

        @include custom-transition(color $animation-timing ease);
      }

      &:hover,
      &:focus {
        i { color: $black; }
      }
    }
  }
}

