



section .parallax-image-container,
section .parallax-image-container .hero-header-txt { max-height: em(600); }

.parallax-image {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  .full-width-image {
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    $backgrounds: 'shenandoah', 'cancun-car', 'thailand-phuket2', 'thailand-phuket4', 'thailand-phuket5',
                  'thailand-phuket7', 'stock1', 'stock4', 'stock5', 'stock6', 'barn';

    @each $background in $backgrounds {
      $img: map-get($images, $background);

      &##{$background} { background-image: url($img); }
    }
  }
}

.masthead {

  .hero-header-txt {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
  }

  h1 {
    color: $white;
    // text-shadow: 0px 0px 5px lighten($black, 55);
  }
}

