



section .parallax-image-container,
section .parallax-image-container .hero-header-txt { max-height: em(600); }

// this is a big old maybe - hold off for now
// .full-width-image {

//   &:before,
//   &:after {
//     content: '';
//     height: 1%;
//     left: 0;
//     position: absolute;
//     width: 100%;
//   }

//   &:before {
//     background-image: -moz-linear-gradient(top, transparentize($black, .75) 1%, transparent 100%);
//     background-image: -webkit-linear-gradient(top, transparentize($black, .75) 1%, transparent 100%);
//     background-image: linear-gradient(to bottom, transparentize($black, .75) 1%, transparent 100%);
//     padding-bottom: 1em;
//     top: 0;
//   }

//   &:after {
//     background-image: -moz-linear-gradient(bottom, transparentize($black, .75) 1%, transparent 100%);
//     background-image: -webkit-linear-gradient(bottom, transparentize($black, .75) 1%, transparent 100%);
//     background-image: linear-gradient(to top, transparentize($black, .75) 1%, transparent 100%);
//     bottom: 0;
//     padding-top: 1em;
//   }

// }

.parallax-image {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  .full-width-image {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    img {
      left: -1000px;
      margin: 0 auto;
      min-height: 100%;
      position: absolute;
      right: -1000px;
      top: 0;
      width: 100%;
    }
  }

  // .full-width-image {
  //   background-position: 50% 0%;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   height: 100%;
  //   margin: 0 auto;
  //   overflow: hidden;
  //   position: absolute;
  //   top: 0;
  //   width: 100%;

  //   $backgrounds: 'shenandoah', 'cancun-car', 'thailand-phuket2', 'thailand-phuket4', 'thailand-phuket5',
  //                 'thailand-phuket7', 'stock1', 'stock4', 'stock5', 'stock6', 'barn';

  //   @each $background in $backgrounds {
  //     $img: map-get($images, $background);

  //     &##{$background} { background-image: url($img); }
  //   }
  // }
}

.masthead {

  .hero-header-txt {
    @include align-items(center);
    @include flex;
    height: 100%;
    @include justify-content(center);
    position: relative;
  }

  h1 {
    color: $white;
    // text-shadow: 0px 0px 5px lighten($black, 55);
  }
}

