


.overlay {
  background: transparentize($black, .2);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  @include custom-transition(opacity $slow-animation-timing ease, z-index $slow-animation-timing ease);
  @include opacity(0);

  &.visible {
    @include opacity(1);
    z-index: 100;
  }

  .overlay-inner {
    @include align-items(center);
    @include flex;
    height: 100%;
    margin: 0 auto;
    max-width: 600px;
  }

  .yt-container {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .close-overlay {
    position: absolute;
    right: 0;
    top: -2rem;
  }

  a {
    @include replace-text();

    i {
      color: $dark-gray-color;
      font-size: 1.5rem;

      @include custom-transition(color $animation-timing ease);
    }

    &:hover,
    &:focus {
      i { color: $white; }
    }
  }
}