@-webkit-keyframes fadeInLeft {
  0% {
    left: -20%;
    opacity: 0;
  }

  50% {
    left: 10%;
    opacity: .5;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    left: -20%;
    opacity: 0;
  }

  50% {
    left: 10%;
    opacity: .5;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    right: -20%;
    opacity: 0;
  }

  50% {
    right: 10%;
    opacity: .5;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    right: -20%;
    opacity: 0;
  }

  50% {
    right: 10%;
    opacity: .5;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

// @-webkit-keyframes fadeInUp {
//   from {
//     opacity: 0;
//     -webkit-transform: translate3d(0, 500px, 0);
//             transform: translate3d(0, 500px, 0);
//   }

//   to {
//     opacity: 1;
//     -webkit-transform: none;
//             transform: none;
//   }
// }

// @keyframes fadeInUp {
//   from {
//     opacity: 0;
//     -webkit-transform: translate3d(0, 500px, 0);
//             transform: translate3d(0, 500px, 0);
//   }

//   to {
//     opacity: 1;
//     -webkit-transform: none;
//             transform: none;
//   }
// }




.party-person {
  font-size: .875em;
  margin-bottom: em(40);
  overflow: hidden;

  &:last-child { margin-bottom: 0; }

  > div:first-child { margin-bottom: em(20); }

  .img-container,
  .person-info { @include span(12); }

  .img-container {
    float: none;
    margin: 0 auto;
    max-width: em(400);

    img {
      display: block;
      width: 100%;
    }
  }

  .person-info h4,
  .slightly-larger { margin-bottom: 1em; }
}

@include breakpoints(tablet) {
  .party-person {
    @include flex;
    margin-bottom: em(50);

    > div:first-child { margin-bottom: 0; }

    > div:first-child,
    > div:first-child h4 { text-align: right; }
    > div:last-child,
    > div:last-child h4 { text-align: left; }

    .img-container,
    .person-info { min-width: 50%; }

    .img {
      height: 0;
      overflow: hidden;
      padding-bottom: 75%;
      position: relative;

      img {
        height: 100%;
        left: 0;
        margin: auto;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    > div { position: relative; }

    .unseen { visibility: hidden; }

    .seen {
      visibility: visible;

      // &.img-container {
      //   -webkit-animation: fadeInUp $be-patient 1;
      //           animation: fadeInUp $be-patient 1;
      // }

      &:first-child {
        -webkit-animation: fadeInLeft $be-patient 1;
                animation: fadeInLeft $be-patient 1;
      }

      &:last-child {
        -webkit-animation: fadeInRight $be-patient 1;
                animation: fadeInRight $be-patient 1;
      }
    }
  }
}

