

// project styles go here
// TODO find a sass linter to keep things at two or three elems nested

@import 'elements/header';
@import 'elements/masthead';
@import 'elements/gallery';
@import 'elements/registry';
@import 'elements/forms';
@import 'elements/party';
@import 'elements/overlay';
@import 'elements/footer';

.section-break {
  border-color: $border-color;
  border-width: 1px 0;
  border-style: solid;
  text-align: center;

  &:nth-child(2n) { border-top-width: 0; }

  &.rsvp-form {
    text-align: left;

    h4 { margin-bottom: em(6, 24); }
  }

  .inner-container:not(.normal) {
    @include breakpoints(nav) {
      @include span(10);
      @include offset(1);
    }

    @include breakpoints(lg_tablet) {
      @include span(8);
      @include offset(2);
    }
  }

  .inner-container.special {
    @include breakpoints(lg_tablet) {
      @include span(10);
      @include offset(1);
    }
  }

  h4 { text-align: center; }

  a { @include custom-btn(); }
}