<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta property="keywords" name="keywords" content="brett and melissa wedding, brett nolf, melissa burlovich, wedding"/>
    <meta property="description" name="description" content="Brett and Melissa are tying the knot! Get details, directions, RSVP and see some cool pics of the happy couple!"/>
    <meta property="og:image" content="/images/wedding/og-image.jpg"/>
    <meta property="og:title" content="Melissa &amp; Brett"/>
    <meta property="og:site_name" content="Melissa &amp; Brett"/>
    <meta property="og:description" content="Brett and Melissa are tying the knot! Get details, directions, RSVP and see some cool pics of the happy couple!"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.melissaheartsbrett.com/">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
</head>
<body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    {% include scripts.html %}
 </body>
</html>