
/* Webfont: Oswald-Bold */
@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald/Oswald-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Oswald-SemiBold */
@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald/Oswald-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: Oswald-Medium */
@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald/Oswald-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: Oswald-Reg */
@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Oswald-Light */
@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald/Oswald-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Oswald-ExtraLight */
@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald/Oswald-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lavanderia Sturdy */
@font-face {
    font-family: 'Lavanderia';
    src: url('/fonts/Lavanderia/Lavanderia-Sturdy.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lavanderia Regular */
@font-face {
    font-family: 'Lavanderia';
    src: url('/fonts/Lavanderia/Lavanderia-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lavanderia Delicate */
@font-face {
    font-family: 'Lavanderia';
    src: url('/fonts/Lavanderia/Lavanderia-Delicate.otf') format('opentype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}